
<html ng-app="myapp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"/>
  </head>
  <body ng-controller="myctrl">
    <div class="banner container">
      <div class="jumbotron h1">Bing Cognitive Services API Demo</div>
    </div>
    <div class="text container">
      <input type="text" placeholder="Enter your query..." name="query" ng-model="myquery"/>
      <button class="btn btn-lg" type="submit" ng-click="getresults()">Search</button><br/><br/>
    </div>
    <div class="result container">
      <ul class="list-group" ng-repeat="res in res_resp " ng-if="new_var">
        <li class="list-group-item list-group-item-info">{{res.name}}</li>
        <li class="list-group-item"><a href ='{{res.url}}'>{{res.url}}</a></li>
        <li class="list-group-item">{{res.snippet}}</li>
      </ul>
    </div>
  </body>
</html>
