body{
  background-color:cyan;
}

.jumbotron{
  background-image: url(https://www.drupal.org/files/project-images/cognitive.gif);
background-repeat: no-repeat;
background-position: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.banner.container{
  font-family: 'lobster', cursive;
  color:  #11947D;
  
}
input[type=text] {
  padding-left:20px;
    height:44.5px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width:1045px;
  border-radius:10px 0px 0px 10px;
  
}

ul li{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


button.btn{
  
  position:absolute;
  cursor:pointer;
  color:white;
  background-color:#11947D;
  border-radius:0px 10px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


